# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 4</font>

# <font color='blue'>Distribuição de frequencia</font>

Um professor coletou as notas de todos os alunas na avaliação final de um curso de Matemática. O professor gostaria de tabular os dados a fim de extrair insights e compreender como os dados estão oeganizados. Crie uma distribuição de frequencia para ajudar o professor

In [1]:
import pandas as pd

In [2]:
notas_alunos = [92,81,100,92,71,73,100,92,84,100,73,92,73,84,92,92,92,84,73,100]

In [3]:
len(notas_alunos)

20

## Solução com series em Pandas

In [5]:
df1 = pd.Series(notas_alunos).value_counts(bins=3).reset_index().sort_values('index').reset_index(drop=True)
df1.columns = ['Nota','Frequencia']
df1

               Nota  Frequencia
0   (70.97, 80.667]           5
1  (80.667, 90.333]           4
2   (90.333, 100.0]          11

In [6]:
df1 = pd.Series(notas_alunos).value_counts().reset_index().sort_values('index').reset_index(drop=True)
df1.columns = ['Nota','Frequencia']
df1

   Nota  Frequencia
0    71           1
1    73           4
2    81           1
3    84           3
4    92           7
5   100           4

# Solução com Dataframe em Pandas

## distribuição de frequencia simples ou absoluta fi
 São os valores que representam o numero de dados em cada classe. A soma das frequencias simples

In [50]:
df2 = pd.value_counts(notas_alunos).to_frame('fi').rename_axis('Nota').sort_index()
df2

      fi
Nota
71     1
73     4
81     1
84     3
92     7
100    4

## Distribuição de frequencia relativa simples fri

Permite visualizar os valores das razões entre as frequencias simples e a frequencia total

In [51]:
df2['fri'] = (pd.value_counts(notas_alunos) / len(df2))
df2

      fi       fri
Nota
71     1  0.166667
73     4  0.666667
81     1  0.166667
84     3  0.500000
92     7  1.166667
100    4  0.666667

## Distribuição de frequencia acumulada Fi

permite visualizar o total das frequencias de todos os valores inferiores ao limite superior ao intervalo de uma dada classe

In [52]:
df2['Fi'] = df2.fi.cumsum()
df2

      fi       fri  Fi
Nota
71     1  0.166667   1
73     4  0.666667   5
81     1  0.166667   6
84     3  0.500000   9
92     7  1.166667  16
100    4  0.666667  20

# Distribuição de frequencia relativa acumulada Fri

permite visualizar a frequencia acumulada da classe, dividida pela frequencia total da distribuição

In [57]:
df2['Fri'] = df2.fi.cumsum() / len(notas_alunos)
df2

      fi       fri  Fi   Fri
Nota
71     1  0.166667   1  0.05
73     4  0.666667   5  0.25
81     1  0.166667   6  0.30
84     3  0.500000   9  0.45
92     7  1.166667  16  0.80
100    4  0.666667  20  1.00