In [1]:
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [2]:
# criando spark session
spkSession = SparkSession.builder.master('local').appName('skarkSQL').getOrCreate()

In [3]:
sqlContext = SQLContext(sc)

In [4]:
carros = sc.textFile('data/carros.csv')

In [5]:
carros.count()

198

In [6]:
# removendo primeira linha
linhas = carros.filter(lambda x: 'FUELTYPE' not in x)

In [7]:
# dividindo o conjunto de dados em colunas
linha2 = linhas.map(lambda x: x.split(','))

In [8]:
# dividindo cojunto de dados em colunas
linhas3 = linha2.map(lambda x: Row(make=x[0], body=x[4], hp=int(x[7])))

In [9]:
?Row

In [10]:
linhas3.collect()

[Row(make='subaru', body='hatchback', hp=69),
 Row(make='chevrolet', body='hatchback', hp=48),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=60),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='chevrolet', body='hatchback', hp=70),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=58),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='chevrolet', body='sedan', hp=70),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='isuzu', body='sedan', hp=78),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='nissan', body='sedan', hp=55),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='honda', body='sedan', hp=76),
 Row(make='honda', body='wagon', hp=76),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=102),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='toyota', body='hatchback', hp=56),
 Row(make='nissan', body='hatchback', hp=69),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=56),
 Row(make='dodge', body='hatchback', hp=102),
 Row(make='plymouth', body='hatchback', hp=102),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='nissan', body='hardtop', hp=69),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='mitsubishi', body='hatchback', hp=88),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='honda', body='sedan', hp=86),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='dodge', body='wagon', hp=88),
 Row(make='plymouth', body='wagon', hp=88),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='nissan', body='hatchback', hp=97),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='toyota', body='sedan', hp=112),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='toyota', body='hatchback', hp=112),
 Row(make='nissan', body='sedan', hp=97),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mitsubishi', body='hatchback', hp=116),
 Row(make='subaru', body='sedan', hp=94),
 Row(make='volkswagen', body='hatchback', hp=90),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='sedan', hp=100),
 Row(make='subaru', body='wagon', hp=94),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='honda', body='sedan', hp=86),
 Row(make='honda', body='sedan', hp=100),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='sedan', hp=73),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='isuzu', body='hatchback', hp=90),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='subaru', body='sedan', hp=111),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='convertible', hp=90),
 Row(make='subaru', body='wagon', hp=111),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='saab', body='sedan', hp=110),
 Row(make='volkswagen', body='wagon', hp=88),
 Row(make='peugot', body='wagon', hp=97),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='plymouth', body='hatchback', hp=145),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='honda', body='sedan', hp=101),
 Row(make='dodge', body='hatchback', hp=145),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='volkswagen', body='sedan', hp=110),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='audi', body='sedan', hp=102),
 Row(make='nissan', body='wagon', hp=152),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='audi', body='sedan', hp=110),
 Row(make='saab', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='mazda', body='hatchback', hp=135),
 Row(make='toyota', body='sedan', hp=156),
 Row(make='toyota', body='wagon', hp=156),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='alfa-romero', body='hatchback', hp=154),
 Row(make='mercury', body='hatchback', hp=175),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='audi', body='sedan', hp=115),
 Row(make='toyota', body='convertible', hp=116),
 Row(make='audi', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='peugot', body='sedan', hp=142),
 Row(make='saab', body='hatchback', hp=160),
 Row(make='mazda', body='sedan', hp=120),
 Row(make='mazda', body='sedan', hp=72),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='volvo', body='sedan', hp=162),
 Row(make='saab', body='sedan', hp=160),
 Row(make='audi', body='wagon', hp=110),
 Row(make='volvo', body='wagon', hp=162),
 Row(make='volvo', body='sedan', hp=160),
 Row(make='nissan', body='hatchback', hp=200),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='volvo', body='sedan', hp=134),
 Row(make='porsche', body='hatchback', hp=143),
 Row(make='volvo', body='sedan', hp=106),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='audi', body='sedan', hp=140),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='mercedes-benz', body='hardtop', hp=123),
 Row(make='mercedes-benz', body='wagon', hp=123),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=155),
 Row(make='mercedes-benz', body='convertible', hp=155),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='jaguar', body='sedan', hp=262),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='porsche', body='convertible', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=184),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='hardtop', hp=184)]

In [11]:
carrosDf = spkSession.createDataFrame(linhas3)

In [12]:
carrosDf.head(5)

[Row(make='subaru', body='hatchback', hp=69),
 Row(make='chevrolet', body='hatchback', hp=48),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='mitsubishi', body='hatchback', hp=68)]

In [13]:
carrosDf.show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows

In [14]:
carrosDf.select('*').show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows

In [15]:
carrosDf.orderBy('make').show()

+-----------+-----------+---+
|       make|       body| hp|
+-----------+-----------+---+
|alfa-romero|  hatchback|154|
|alfa-romero|convertible|111|
|alfa-romero|convertible|111|
|       audi|      sedan|110|
|       audi|      wagon|110|
|       audi|      sedan|140|
|       audi|      sedan|110|
|       audi|      sedan|115|
|       audi|      sedan|102|
|        bmw|      sedan|121|
|        bmw|      sedan|121|
|        bmw|      sedan|182|
|        bmw|      sedan|182|
|        bmw|      sedan|101|
|        bmw|      sedan|182|
|        bmw|      sedan|121|
|        bmw|      sedan|101|
|  chevrolet|  hatchback| 70|
|  chevrolet|      sedan| 70|
|  chevrolet|  hatchback| 48|
+-----------+-----------+---+
only showing top 20 rows

In [16]:
# criando o dataframe como uma tamp table
carrosDf.createTempView('CarrosTB')

In [17]:
spkSession.sql("select * from CarrosTB where make = 'nissan'").show()

+------+---------+---+
|  make|     body| hp|
+------+---------+---+
|nissan|    sedan| 69|
|nissan|    sedan| 69|
|nissan|    sedan| 69|
|nissan|    sedan| 55|
|nissan|    sedan| 69|
|nissan|    wagon| 69|
|nissan|    sedan| 69|
|nissan|hatchback| 69|
|nissan|    wagon| 69|
|nissan|  hardtop| 69|
|nissan|hatchback| 97|
|nissan|    sedan| 97|
|nissan|    sedan|152|
|nissan|    sedan|152|
|nissan|    wagon|152|
|nissan|hatchback|160|
|nissan|hatchback|160|
|nissan|hatchback|200|
+------+---------+---+

In [ ]:
!java -version

In [18]:
spkSession.sql("select make, body, avg(hp) from CarrosTB group by make, body").show()

+-------------+-----------+-----------------+
|         make|       body|          avg(hp)|
+-------------+-----------+-----------------+
|       nissan|      wagon|96.66666666666667|
|       subaru|      sedan|             90.2|
|     plymouth|      sedan|             68.0|
|        dodge|  hatchback|             90.2|
|       nissan|      sedan|             89.0|
|        honda|      sedan|             89.8|
|   mitsubishi|  hatchback|            105.0|
|        mazda|      sedan|82.66666666666667|
|  alfa-romero|convertible|            111.0|
|mercedes-benz|convertible|            155.0|
|     plymouth|      wagon|             88.0|
|mercedes-benz|      wagon|            123.0|
|        isuzu|  hatchback|             90.0|
|       toyota|convertible|            116.0|
|        mazda|  hatchback|             89.4|
|    chevrolet|      sedan|             70.0|
|      mercury|  hatchback|            175.0|
|      porsche|  hatchback|            143.0|
|        honda|      wagon|             76.0|
|      porsche|convertible|            207.0|
+-------------+-----------+-----------------+
only showing top 20 rows

In [19]:
# importando dados e colocando em cache
carros = sc.textFile('data/carros.csv')
carros.cache()

data/carros.csv MapPartitionsRDD[26] at textFile at NativeMethodAccessorImpl.java:0

In [28]:
# removendo a primeira linha #header
header = carros.first()
linhas = carros.filter(lambda x: x != header)
linhas.count()

197

In [29]:
#importando a função row
from pyspark import Row

In [54]:
# convertendo para um vetor de linhas
def transformaToNumeric(inputStr):
    
    attList = inputStr.split(",")
    
    doors = 1.0 if attList[3] == 'two' else 2.0
    body =  1.0 if attList[4] == 'sedam' else 2.0
    
    # filtrando as colunas não necessárias 
    valores = Row(Door = doors, BODY = float(body), HP = float(attList[7]), RPM = float(attList[8]), MPG = float(attList[9]))
    return valores

In [55]:
# aplicando função aos dados e persistindo em memoria
autoMap = linhas.map(transformaToNumeric)
autoMap.persist()
autoMap.collect()

[Row(Door=1.0, BODY=2.0, HP=69.0, RPM=4900.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=48.0, RPM=5100.0, MPG=47.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=30.0),
 Row(Door=1.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=35.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=37.0),
 Row(Door=1.0, BODY=2.0, HP=60.0, RPM=5500.0, MPG=38.0),
 Row(Door=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=37.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=37.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=70.0, RPM=5400.0, MPG=38.0),
 Row(Door=1.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=58.0, RPM=4800.0, MPG=49.0),
 Row(Door=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(Door=2.0, BODY=2.0, HP=70.0, RPM=5400.0, MPG=38.0),
 Row(Door=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=78.0, RPM=4800.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=30.0),
 Row(Door=2.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=25.0),
 Row(Door=1.0, BODY=2.0, HP=73.0, RPM=4400.0, MPG=26.0),
 Row(Door=1.0, BODY=2.0, HP=55.0, RPM=4800.0, MPG=45.0),
 Row(Door=2.0, BODY=2.0, HP=82.0, RPM=4800.0, MPG=32.0),
 Row(Door=1.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(Door=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=30.0),
 Row(Door=2.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(Door=2.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(Door=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=82.0, RPM=4800.0, MPG=28.0),
 Row(Door=2.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=73.0, RPM=4400.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=38.0),
 Row(Door=2.0, BODY=2.0, HP=82.0, RPM=4400.0, MPG=28.0),
 Row(Door=1.0, BODY=2.0, HP=52.0, RPM=4800.0, MPG=37.0),
 Row(Door=2.0, BODY=2.0, HP=56.0, RPM=4500.0, MPG=38.0),
 Row(Door=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(Door=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=27.0),
 Row(Door=2.0, BODY=2.0, HP=56.0, RPM=4500.0, MPG=34.0),
 Row(Door=1.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=85.0, RPM=5250.0, MPG=27.0),
 Row(Door=2.0, BODY=2.0, HP=52.0, RPM=4800.0, MPG=37.0),
 Row(Door=2.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=82.0, RPM=4800.0, MPG=23.0),
 Row(Door=1.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=29.0),
 Row(Door=2.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=25.0),
 Row(Door=2.0, BODY=2.0, HP=85.0, RPM=5250.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=29.0),
 Row(Door=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(Door=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=28.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=85.0, RPM=5250.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=25.0),
 Row(Door=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=27.0),
 Row(Door=2.0, BODY=2.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=92.0, RPM=4200.0, MPG=29.0),
 Row(Door=2.0, BODY=2.0, HP=97.0, RPM=5200.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(Door=2.0, BODY=2.0, HP=82.0, RPM=4800.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=28.0),
 Row(Door=2.0, BODY=2.0, HP=116.0, RPM=5500.0, MPG=23.0),
 Row(Door=2.0, BODY=2.0, HP=116.0, RPM=5500.0, MPG=23.0),
 Row(Door=1.0, BODY=2.0, HP=112.0, RPM=6600.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=4500.0, MPG=37.0),
 Row(Door=1.0, BODY=2.0, HP=112.0, RPM=6600.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=97.0, RPM=5200.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=5500.0, MPG=23.0),
 Row(Door=2.0, BODY=2.0, HP=94.0, RPM=5200.0, MPG=26.0),
 Row(Door=1.0, BODY=2.0, HP=90.0, RPM=5500.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=92.0, RPM=4200.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=100.0, RPM=5500.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=94.0, RPM=5200.0, MPG=25.0),
 Row(Door=2.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=100.0, RPM=5500.0, MPG=25.0),
 Row(Door=1.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=73.0, RPM=4500.0, MPG=30.0),
 Row(Door=2.0, BODY=2.0, HP=92.0, RPM=4200.0, MPG=27.0),
 Row(Door=1.0, BODY=2.0, HP=101.0, RPM=6000.0, MPG=17.0),
 Row(Door=1.0, BODY=2.0, HP=90.0, RPM=5000.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=92.0, RPM=4200.0, MPG=27.0),
 Row(Door=2.0, BODY=2.0, HP=111.0, RPM=4800.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=90.0, RPM=5500.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=111.0, RPM=4800.0, MPG=23.0),
 Row(Door=1.0, BODY=2.0, HP=101.0, RPM=6000.0, MPG=17.0),
 Row(Door=1.0, BODY=2.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(Door=2.0, BODY=2.0, HP=97.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(Door=2.0, BODY=2.0, HP=88.0, RPM=5500.0, MPG=25.0),
 Row(Door=2.0, BODY=2.0, HP=97.0, RPM=5000.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=23.0),
 Row(Door=2.0, BODY=2.0, HP=101.0, RPM=5800.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=28.0),
 Row(Door=2.0, BODY=2.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=23.0),
 Row(Door=1.0, BODY=2.0, HP=111.0, RPM=5000.0, MPG=21.0),
 Row(Door=2.0, BODY=2.0, HP=152.0, RPM=5200.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=152.0, RPM=5200.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=101.0, RPM=6000.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=68.0, RPM=4500.0, MPG=33.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=25.0),
 Row(Door=2.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=152.0, RPM=5200.0, MPG=17.0),
 Row(Door=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(Door=1.0, BODY=2.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=5000.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=135.0, RPM=6000.0, MPG=16.0),
 Row(Door=2.0, BODY=2.0, HP=156.0, RPM=5200.0, MPG=20.0),
 Row(Door=2.0, BODY=2.0, HP=156.0, RPM=5200.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=161.0, RPM=5200.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=101.0, RPM=5800.0, MPG=23.0),
 Row(Door=1.0, BODY=2.0, HP=111.0, RPM=5000.0, MPG=21.0),
 Row(Door=1.0, BODY=2.0, HP=154.0, RPM=5000.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=175.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=24.0),
 Row(Door=1.0, BODY=2.0, HP=161.0, RPM=5200.0, MPG=20.0),
 Row(Door=2.0, BODY=2.0, HP=97.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=23.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=28.0),
 Row(Door=2.0, BODY=2.0, HP=101.0, RPM=5800.0, MPG=23.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=25.0),
 Row(Door=1.0, BODY=2.0, HP=160.0, RPM=5200.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=115.0, RPM=5500.0, MPG=18.0),
 Row(Door=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(Door=2.0, BODY=2.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=28.0),
 Row(Door=2.0, BODY=2.0, HP=142.0, RPM=5600.0, MPG=18.0),
 Row(Door=1.0, BODY=2.0, HP=160.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=120.0, RPM=5000.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=72.0, RPM=4200.0, MPG=31.0),
 Row(Door=1.0, BODY=2.0, HP=160.0, RPM=5200.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=162.0, RPM=5100.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=160.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=162.0, RPM=5100.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=160.0, RPM=5300.0, MPG=19.0),
 Row(Door=1.0, BODY=2.0, HP=200.0, RPM=5200.0, MPG=17.0),
 Row(Door=1.0, BODY=2.0, HP=121.0, RPM=4250.0, MPG=21.0),
 Row(Door=2.0, BODY=2.0, HP=121.0, RPM=4250.0, MPG=21.0),
 Row(Door=2.0, BODY=2.0, HP=134.0, RPM=5500.0, MPG=18.0),
 Row(Door=1.0, BODY=2.0, HP=143.0, RPM=5500.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=106.0, RPM=4800.0, MPG=26.0),
 Row(Door=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=19.0),
 Row(Door=2.0, BODY=2.0, HP=140.0, RPM=5500.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=121.0, RPM=4250.0, MPG=20.0),
 Row(Door=2.0, BODY=2.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(Door=1.0, BODY=2.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(Door=2.0, BODY=2.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(Door=2.0, BODY=2.0, HP=182.0, RPM=5400.0, MPG=16.0),
 Row(Door=2.0, BODY=2.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(Door=2.0, BODY=2.0, HP=176.0, RPM=4750.0, MPG=15.0),
 Row(Door=1.0, BODY=2.0, HP=207.0, RPM=5900.0, MPG=17.0),
 Row(Door=1.0, BODY=2.0, HP=207.0, RPM=5900.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=155.0, RPM=4750.0, MPG=16.0),
 Row(Door=1.0, BODY=2.0, HP=155.0, RPM=4750.0, MPG=16.0),
 Row(Door=2.0, BODY=2.0, HP=176.0, RPM=4750.0, MPG=15.0),
 Row(Door=1.0, BODY=2.0, HP=262.0, RPM=5000.0, MPG=13.0),
 Row(Door=2.0, BODY=2.0, HP=182.0, RPM=5400.0, MPG=15.0),
 Row(Door=1.0, BODY=2.0, HP=207.0, RPM=5900.0, MPG=17.0),
 Row(Door=2.0, BODY=2.0, HP=184.0, RPM=4500.0, MPG=14.0),
 Row(Door=1.0, BODY=2.0, HP=182.0, RPM=5400.0, MPG=16.0),
 Row(Door=1.0, BODY=2.0, HP=184.0, RPM=4500.0, MPG=14.0)]

In [56]:
carrosDF = spkSession.createDataFrame(autoMap)
carrosDF.show()

+----+----+----+------+----+
|Door|BODY|  HP|   RPM| MPG|
+----+----+----+------+----+
| 1.0| 2.0|69.0|4900.0|31.0|
| 1.0| 2.0|48.0|5100.0|47.0|
| 1.0| 2.0|68.0|5000.0|30.0|
| 1.0| 2.0|62.0|4800.0|35.0|
| 1.0| 2.0|68.0|5500.0|37.0|
| 1.0| 2.0|60.0|5500.0|38.0|
| 1.0| 2.0|69.0|5200.0|31.0|
| 1.0| 2.0|68.0|5500.0|37.0|
| 1.0| 2.0|68.0|5500.0|37.0|
| 1.0| 2.0|68.0|5000.0|31.0|
| 1.0| 2.0|68.0|5500.0|31.0|
| 2.0| 2.0|68.0|5500.0|31.0|
| 2.0| 2.0|68.0|5500.0|31.0|
| 1.0| 2.0|70.0|5400.0|38.0|
| 1.0| 2.0|62.0|4800.0|31.0|
| 1.0| 2.0|68.0|5500.0|31.0|
| 1.0| 2.0|58.0|4800.0|49.0|
| 2.0| 2.0|62.0|4800.0|31.0|
| 1.0| 2.0|76.0|6000.0|30.0|
| 2.0| 2.0|70.0|5400.0|38.0|
+----+----+----+------+----+
only showing top 20 rows

In [57]:
# sumarizando as estatisticas do conjunto de dados
statistics = carrosDF.describe().toPandas()
statistics

,summary,Door,BODY,HP,RPM,MPG
0,count,197,197,197,197,197
1,mean,1.5685279187817258,2.0,103.60406091370558,5118.0203045685275,25.15228426395939
2,stddev,0.49654352778167493,0.0,37.639205349518356,481.03591405011446,6.437862917085915
3,min,1.0,2.0,48.0,4150.0,13.0
4,max,2.0,2.0,262.0,6600.0,49.0

In [58]:
# extraindo a média
media = statistics.iloc[1,1:5].values.tolist()
media

['1.5685279187817258', '2.0', '103.60406091370558', '5118.0203045685275']

In [59]:
# extraindo desvio padrao
std = statistics.iloc[2,1:5].values.tolist()
std

['0.49654352778167493', '0.0', '37.639205349518356', '481.03591405011446']

In [60]:
# inserindo media e desvio padrao em variavel do tipo broadcast
bcMedias = sc.broadcast(media)
bcStd = sc.broadcast(std)

In [61]:
# importando a funcao vectors
from pyspark.ml.linalg import Vectors

In [62]:
# criando funcao de nromalizacao
def centerAndScale(inRow):
    
    global bcMedias
    global bcStd
    
    meanarray = bcMedias.value
    stdArray = bcStd.value
    
    retArray = []
    
    for i in range(len(meanarray)):
        retArray.append( (float(inRow[i]) - float(meanarray[i]) / float(stdArray[i])))
        
        return Vectors.dense(retArray)

In [63]:
# aplicando normalizacao aos dados
csAuto = carrosDF.rdd.map(centerAndScale)
csAuto.collect()

[DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-1.1589]),
 DenseVector([-2.1589]),
 DenseVector([-2.1589])]

In [65]:
# criando um spark dataframe com os atributos
autoRow = csAuto.map(lambda x: Row(features= x))
autoDF = spkSession.createDataFrame(autoRow)
autoDF.select('features').show(10)

+--------------------+
|            features|
+--------------------+
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
|[-2.158893089975772]|
+--------------------+
only showing top 10 rows

In [66]:
# sparksql e arquivo JSON

funcDF = spkSession.read.json('data/funcionarios.json')

In [67]:
type(funcDF)

pyspark.sql.dataframe.DataFrame

In [68]:
funcDF.head(10)

[Row(deptid='1000', idade='42', nome='Gilmar Rezende', salario='5000', sexo='m'),
 Row(deptid='2000', idade='50', nome='Matias Tavares', salario='8500', sexo='m'),
 Row(deptid='1000', idade='36', nome='Paulo Miranda', salario='9700', sexo='m'),
 Row(deptid='1000', idade='41', nome='Ana Paula Soares', salario='9500', sexo='f'),
 Row(deptid='2000', idade='34', nome='Carolina Maia', salario='6500', sexo='m')]

In [69]:
funcDF.printSchema()

root
 |-- deptid: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- sexo: string (nullable = true)

In [70]:
funcDF.select('nome').show()

+----------------+
|            nome|
+----------------+
|  Gilmar Rezende|
|  Matias Tavares|
|   Paulo Miranda|
|Ana Paula Soares|
|   Carolina Maia|
+----------------+

In [74]:
funcDF.groupBy('idade').count().show()

+-----+-----+
|idade|count|
+-----+-----+
|   42|    1|
|   34|    1|
|   41|    1|
|   36|    1|
|   50|    1|
+-----+-----+

In [76]:
funcDF.filter(funcDF['idade'] == 50).show()

+------+-----+--------------+-------+----+
|deptid|idade|          nome|salario|sexo|
+------+-----+--------------+-------+----+
|  2000|   50|Matias Tavares|   8500|   m|
+------+-----+--------------+-------+----+

In [81]:
funcDF.groupBy('deptid').agg({'salario':'avg', 'idade':'max'}).show()

+------+----------+-----------------+
|deptid|max(idade)|     avg(salario)|
+------+----------+-----------------+
|  2000|        50|           7500.0|
|  1000|        42|8066.666666666667|
+------+----------+-----------------+

In [82]:
# registrando o df como uma tabela temporaria
funcDF.registerTempTable('funcTB')

In [86]:
spkSession.sql("select deptid, max(idade), avg(salario) from funcTB group by deptid").show()

+------+----------+----------------------------+
|deptid|max(idade)|avg(CAST(salario AS DOUBLE))|
+------+----------+----------------------------+
|  2000|        50|                      7500.0|
|  1000|        42|           8066.666666666667|
+------+----------+----------------------------+

# banco de dados relacional

In [15]:
mysql_df = spkSession.read.format('jdbc').options(
    url='jdbc:mysql://localhost/carros',
    serverTimeZone='UTC',
    driver='com.mysql.jdbc.Driver',
    dbtable='carrosTB',
    user='sparkUser',
    password='sparkUser123').load()

In [16]:
mysql_df.show()

+----------+--------+------+-----+---------+-----+---------+---+----+-------+------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPGCITY|MPGHWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+-------+------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|     31|    36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|     47|    53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|     30|    31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|     35|    39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     37|    41| 5389|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 60|5500|     38|    42| 5399|
|    nissan|     gas|   std|  two|    sedan|  fwd|     four| 69|5200|     31|    37| 5499|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     37|    41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     37|    41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|     31|    38| 6095|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     31|    38| 6189|
|     dodge|     gas|   std| four|hatchback|  fwd|     four| 68|5500|     31|    38| 6229|
|  plymouth|     gas|   std| four|hatchback|  fwd|     four| 68|5500|     31|    38| 6229|
| chevrolet|     gas|   std|  two|hatchback|  fwd|     four| 70|5400|     38|    43| 6295|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|     31|    38| 6338|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     31|    38| 6377|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 58|4800|     49|    54| 6479|
|    toyota|     gas|   std| four|hatchback|  fwd|     four| 62|4800|     31|    38| 6488|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 76|6000|     30|    34| 6529|
| chevrolet|     gas|   std| four|    sedan|  fwd|     four| 70|5400|     38|    43| 6575|
+----------+--------+------+-----+---------+-----+---------+---+----+-------+------+-----+
only showing top 20 rows

In [7]:
mysql_df.registerTempTable('carrosTB')

In [10]:
spkSession.sql('select * from carrosTB where hp = 68').show()

+----------+--------+------+-----+---------+-----+---------+---+----+-------+------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPGCITY|MPGHWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+-------+------+-----+
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|     30|    31| 5195|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     37|    41| 5389|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     37|    41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     37|    41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|     31|    38| 6095|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     31|    38| 6189|
|     dodge|     gas|   std| four|hatchback|  fwd|     four| 68|5500|     31|    38| 6229|
|  plymouth|     gas|   std| four|hatchback|  fwd|     four| 68|5500|     31|    38| 6229|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     31|    38| 6377|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|     31|    38| 6669|
|     dodge|     gas|   std| four|    sedan|  fwd|     four| 68|5500|     31|    38| 6692|
|  plymouth|     gas|   std| four|    sedan|  fwd|     four| 68|5500|     31|    38| 6692|
|     mazda|     gas|   std| four|    sedan|  fwd|     four| 68|5000|     31|    38| 6695|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|     31|    38| 6795|
|     mazda|     gas|   std| four|    sedan|  fwd|     four| 68|5000|     31|    38| 7395|
|     dodge|     gas|   std| four|    sedan|  fwd|     four| 68|5500|     31|    38| 7609|
|  plymouth|     gas|   std| four|    sedan|  fwd|     four| 68|5500|     31|    38| 7609|
|volkswagen|  diesel| turbo| four|    sedan|  fwd|     four| 68|4500|     37|    42| 9495|
|volkswagen|  diesel| turbo| four|    sedan|  fwd|     four| 68|4500|     33|    38|13845|
+----------+--------+------+-----+---------+-----+---------+---+----+-------+------+-----+

In [2]:
# pyspark --conf "spark.mongodb.input.uri=mongodb://127.0.0.1/test_db.test_collection?readPreference=primaryPreferred" \
#               --conf "spark.mongodb.output.uri=mongodb://127.0.0.1/test_db.test_collection" \
#               --packages org.mongodb.spark:mongo-spark-connector_2.12:3.0.1
# Cria a sessão
my_spark = SparkSession \
    .builder \
    .master("local") \
    .appName("myApp") \
    .config("spark.mongodb.input.uri", "mongodb://localhost:/test_db.test_collection") \
    .config("spark.mongodb.output.uri", "mongodb://localhost/test_db.test_collection") \
    .config('spark.jars.packages','org.mongodb.spark:mongo-spark-connector_2.12:3.0.1' ) \
    .getOrCreate()

In [3]:
# Carrega os dados do MongoDB no Spark
dados = spark.read.format("com.mongodb.spark.sql.DefaultSource").load()

In [4]:
dados.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- item: string (nullable = true)
 |-- qty: double (nullable = true)
 |-- size: struct (nullable = true)
 |    |-- h: double (nullable = true)
 |    |-- w: double (nullable = true)
 |    |-- uom: string (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [5]:
dados.show()

+--------------------+---------------+----+-----------------+------------------+
|                 _id|           item| qty|             size|              tags|
+--------------------+---------------+----+-----------------+------------------+
|{618a5b1d996f2557...|    Camisa Polo|25.0| {14.0, 21.0, cm}|[branco, vermelho]|
|{618a5b1d996f2557...|Vestido Bordado|85.0| {27.9, 35.5, cm}|           [cinza]|
|{618a5b1d996f2557...|        Moleton|45.0|{19.0, 22.85, cm}|     [verde, azul]|
+--------------------+---------------+----+-----------------+------------------+

In [7]:
# gravando dados
registro = spark.createDataFrame([("Camisa T-Shirt", 50)],["item","qty"])

In [8]:
registro.write.format("com.mongodb.spark.sql.DefaultSource").mode("append").save()

In [9]:
dados.show()

+--------------------+---------------+----+-----------------+------------------+
|                 _id|           item| qty|             size|              tags|
+--------------------+---------------+----+-----------------+------------------+
|{618a5b1d996f2557...|    Camisa Polo|25.0| {14.0, 21.0, cm}|[branco, vermelho]|
|{618a5b1d996f2557...|Vestido Bordado|85.0| {27.9, 35.5, cm}|           [cinza]|
|{618a5b1d996f2557...|        Moleton|45.0|{19.0, 22.85, cm}|     [verde, azul]|
|{618a5ebd8c71d21f...| Camisa T-Shirt|50.0|             null|              null|
+--------------------+---------------+----+-----------------+------------------+